$gap: 15px;

.product-content {
    padding: 0 $gap;

    &__container {
        padding: $gap 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $gap;
    }
}
