$width: 250px;

.cookie-card {
    display: flex;
    flex-direction: column;

    .ant-card-body {
        display: flex;
        flex-grow: 1;
    }
}

.cookie-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-width: $width;
    width: $width;

    p {
        padding: 0;
        margin: 0;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: end;
    }
}
